<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav id="navbar">
      <a href="navi.html">Log in/out page</a>
    </nav>
    <div class="container">
      <div id="productDetails" class="product-details"></div>
      <div id="relatedProducts" class="related-products"></div>
    </div>

    <script src="../js/productDetails.js"></script>
  </body>
</html>
